@import url('https://rsms.me/inter/inter.css');
html {
  font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: 'Inter var', sans-serif;
  }
}

* {
  box-sizing: border-box;
}

::selection {
  background: #212121;
  color: white;
}

html,
body {
  overflow-x: hidden;
}

pre {
  font-size: 0.8em;
  width: 100%;
  margin-left: -2.5rem !important;
  margin-right: -2.5rem !important;
  width: calc(100% + 5rem);
  padding: 3em !important;
  border: 1px solid #eee !important;
  border-radius: 4px;
}

.src a * {
  opacity: 0.5;
  display: inline-block;
  margin: 10px 5px;
}

@media screen and (min-width: 800px) {
  pre {
    width: 100% !important;
    margin: 0 !important;
  }
}

pre > span:nth-child(11),
pre > span:nth-child(17),
pre > span:nth-child(20),
pre > span:nth-child(23),
pre > span:nth-child(44),
pre > span:nth-child(61),
pre > span:nth-child(78),
pre > span:nth-child(79) > span > span.class-name,
pre > span:nth-child(85) > span > span.class-name {
  color: #ff7bab !important;
}
