@import url("https://rsms.me/inter/inter.css");

* {
  box-sizing: border-box;
  outline: none !important;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: white;
  color: black;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: grid;
  grid-template-columns: auto 1fr auto;
}

h1 {
  writing-mode: tb-rl;
  font-variant-numeric: tabular-nums;
  font-weight: 700;
  font-size: 10em;
  letter-spacing: -10px;
  text-align: left;
  margin: 0;
  padding: 50px 0px 0px 20px;
}

h2 {
  margin-bottom: 0.2em;
}

h4 {
  font-weight: 500;
}

h6 {
  margin-top: 0;
}

#root > div {
  padding: 50px 20px;
  overflow: hidden;
  word-wrap: break-word;
  position: relative;
}

#root > div > div {
  position: absolute;
}

p {
  color: #474747;
}

button {
  text-decoration: none;
  background: transparent;
  border: none;
  cursor: pointer;
  font-family: "Inter", sans-serif;
  font-weight: 200;
  font-size: 6em;
  padding: 0px 30px 20px 0px;
  display: flex;
  align-items: flex-end;
  color: inherit;
}

button:focus {
  outline: 0;
}

a {
  color: inherit;
}
