# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage

# development
.devcontainer
.vscode

# production
dist
build

# dotenv environment variables file
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# misc
.DS_Store
.idea

