@import url('https://rsms.me/inter/inter.css');
html {
  font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: 'Inter var', sans-serif;
  }
}

* {
  box-sizing: border-box;
}

::selection {
  background: #212121;
  color: white;
}

html,
body {
  overflow-x: hidden;
}

h1,
h2,
p {
  user-select: none;
}

pre {
  font-size: 0.8em;
  width: 100%;
  margin-left: -2.5rem !important;
  margin-right: -2.5rem !important;
  width: calc(100% + 5rem);
  padding: 3em !important;
  border: 1px solid #eee !important;
  border-radius: 4px;
}

@media screen and (min-width: 800px) {
  pre {
    width: 100% !important;
    margin: 0 !important;
  }
}
