.prose h1,
.prose h2,
.prose h3,
.prose h4,
.prose h5 {
  scroll-margin-top: 3rem;
}

.prose h1 {
  @apply font-extrabold text-4xl lg:text-5xl text-black dark:text-gray-50 tracking-tight lg:tracking-tighter leading-tight;
}

.prose h2 {
  @apply font-bold text-2xl lg:text-3xl text-gray-350 dark:text-gray-200 leading-tight;
}

.prose h2 a code {
  @apply px-2 py-1 !text-black dark:!text-white;
  font-size: 0.7em;
}

.prose * + h2 {
  @apply mt-12 lg:mt-16;
}

.prose h3 {
  @apply mt-6 lg:mt-8 font-semibold text-lg lg:text-xl text-gray-700 dark:text-gray-300 leading-tight;
}

.prose h3 a code {
  @apply px-2 py-1 !text-black dark:!text-white;
  font-size: 0.7em;
}

.prose h4 {
  @apply mt-8 font-semibold text-base lg:text-lg text-gray-600 dark:text-gray-400 leading-tight;
}

.prose h4 a code {
  @apply px-2 py-1 !text-black dark:!text-white;
  font-size: 0.7em;
}

.prose h1 + h2 {
  @apply !mt-12;
}

.prose h2 + h3,
.prose h3 + h4 {
  @apply mt-2;
}

.prose h1 a,
.prose h2 a,
.prose h3 a,
.prose h4 a,
.prose h5 a {
  all: inherit;
  @apply inline cursor-pointer;
}

.prose ol,
.prose ul {
  @apply my-2 pl-5 space-y-1 font-normal text-sm sm:text-base lg:text-lg text-gray-600 dark:text-gray-500 leading-normal;
}

.prose ol {
  @apply list-decimal;
}

.prose ul {
  @apply list-disc marker:text-gray-400 dark:marker:text-gray-700;
}

.prose li {
  @apply pl-1;
}

.prose p {
  @apply mt-1 text-sm sm:text-base lg:text-lg text-gray-600 dark:text-gray-500 leading-normal;
}

.prose p + p {
  @apply mt-2;
}

.prose h1 + p {
  @apply mt-8;
}

.prose a {
  @apply text-blue-600 dark:text-teal-400 underline;
}

.dark .prose h1 a,
.dark .prose h2 a,
.dark .prose h3 a,
.dark .prose h4 a,
.dark .prose h5 a {
  color: inherit;
}

.prose a code {
  @apply !text-blue-600 dark:!text-teal-400;
}

.prose blockquote {
  @apply my-4 px-4 py-2 rounded-md sm:rounded-lg border border-gray-200 dark:border-gray-800 bg-gray-100 dark:bg-gray-900;
}

.prose blockquote a {
  @apply text-gray-900 dark:text-gray-300;
}

.prose blockquote p {
  @apply text-gray-900 dark:text-gray-300;
}

.prose blockquote a code {
  @apply !text-blue-900;
}

.prose hr {
  @apply w-full h-px my-8 border-none bg-gray-300 dark:bg-gray-700;
}

@tailwind components;
