@font-face {
  font-family: 'Inter Var';
  src: url('/fonts/inter-var.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
  font-display: block;
  font-named-instance: 'Regular';
}

@font-face {
  font-family: 'Inter Var';
  src: url('/fonts/inter-italic-var.woff2') format('woff2');
  font-weight: 100 900;
  font-style: italic;
  font-display: block;
  font-named-instance: 'Italic';
}

@font-face {
  font-family: 'Meslo';
  src: url('/fonts/meslo.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
