/**
 * Pmndrs theme for JavaScript, CSS and HTML
 * Loosely based on https://marketplace.visualstudio.com/items?itemName=pmndrs.pmndrs
 * @author Paul Henschel
 */

code[class*='language-'],
pre[class*='language-'] {
  word-spacing: normal;
  word-wrap: normal;
  tab-size: 2;
  hyphens: none;
  font-size: 0.9em;
  @apply break-normal rounded-md text-left leading-normal text-[#e4f0fb] shadow-lg dark:!shadow-none sm:rounded-lg;
}

/* Code blocks */
pre[class*='language-'] {
  @apply my-4 overflow-x-auto whitespace-pre p-6 sm:p-8;
}

:not(pre) > code[class*='language-'],
pre[class*='language-'] {
  @apply bg-[#252b37];
}

.dark :not(pre) > code[class*='language-'],
.dark pre[class*='language-'] {
  @apply bg-[#13161c];
}

/* Inline code */
:not(pre) > code[class*='language-'] {
  @apply whitespace-normal rounded-md p-3 shadow-lg dark:!shadow-none;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  @apply text-[#a6accd];
}

.token.punctuation {
  @apply text-[#e4f0fb];
}

.token.namespace {
  @apply opacity-70;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
  @apply text-[#e4f0fb];
}

.token.boolean,
.token.number {
  @apply text-[#5de4c7];
}

.token.selector,
.token.attr-value,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  @apply text-[#5de4c7];
}

.token.attr-name,
.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  @apply text-[#add7ff];
}

.token.atrule,
.token.function,
.token.class-name {
  @apply text-[#5de4c7];
}

.token.keyword {
  @apply text-[#add7ff];
}

.token.regex,
.token.important {
  @apply text-[#fffac2];
}

.token.important,
.token.bold {
  font-weight: 700;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  @apply cursor-help;
}
