{
  "presets": [
    [
      "babel-preset-gatsby",
      {
        "reactRuntime": "automatic",
        "targets": {
          "browsers": [">0.25%", "not dead", "not ie <=11", "not ie_mob <=11", "not op_mini all"]
        }
      }
    ]
  ],
  "plugins": ["jotai/babel/plugin-react-refresh"]
}
