name: LiveCodes Preview

on: [pull_request]

jobs:
  build_and_prepare:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: 'lts/*'
          cache: 'pnpm'
      - uses: live-codes/preview-in-livecodes@636df52bd6a29316a7ad7501e7016ffdc6f83468 # v1.2.2
        with:
          install-command: pnpm install
          build-command: pnpm run build
          base-url: 'https://{{LC::REF}}.preview-in-livecodes-demo.pages.dev'
