name: LiveCodes Post Comment

on:
  workflow_run:
    workflows: [LiveCodes Preview]
    types:
      - completed

jobs:
  upload:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
    if: >
      github.event.workflow_run.event == 'pull_request' &&
      github.event.workflow_run.conclusion == 'success'
    steps:
      - uses: live-codes/pr-comment-from-artifact@15cb31a249e2336571f5d8cc244f6132b7d90ead # v1
        with:
          GITHUB_TOKEN: ${{ github.token }}
